<div class="header--static header">
  <div class="container-fluid">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="header__logo--static">
          <a href="/"><img src="http://placehold.it/200x100" alt=""></a>

      </div>
      <div class="header__logo--fixed"><img src="http://placehold.it/75x50" alt=""></div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
      <div class="header__menu">
        <ul>
          <li><a href="">Collection</a></li>
          <li><a href="/catalog">Catalog</a></li>
          <li сlass="header--hidden"><a href="">Sale</a></li>
          <li><a href="">My Purchases</a></li>
          <li сlass="header--hidden"><a href="">Contacts</a></li>
          <li><a href="">Popular</a></li>
        </ul>
      </div>
      <div class="header__phone">
        <b>+38 066 163-12-22</b> <span class="header__phone__span"> — прием заказов с 9:00 до 21:00</span>
      </div>

    </div>

    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <cart-informer informer></cart-informer>
    </div>


  </div>
</div>
