
<span class="favorite__informer">

    <span class="favorite__informer__icon">
        <img src="../images/fav_icon_24.png">
        <!-- <span class="favorite__informer__counter" ng-if="cartLenght > 0"></span> -->
    </span>

</span>

<div class="cart__informer">
    <a href="/cart">

    <span class="cart__informer__icon">
        <img src="../images/cart_icon_24.png">
    </span>

    <span class="cart__informer__counter" ng-if="cartLenght > 0">
        {{cartLenght}}
    </span>
  </a>
</div>
