<div class="col-md-2">
    <div class="sidebar">
        <div class="sidebar__header">
            Каталог
        </div>
        <ul>
            <li><a href="#">Платья</a></li>
            <li><a href="#">Топы</a></li>
            <li><a href="#">Юбки</a></li>
            <li><a href="#">Шорты</a></li>
            <li><a href="#">Пиджики</a></li>
            <li><a href="#">Брюки</a></li>
        </ul>
    </div>
</div>
<div class="col-md-10">
    <div class="catalog margin-top-35">
        <div class="catalog__title">
            Новинки Лето 2015
        </div>
        <ul class="catalog__products">

            <li class="catalog__products__item" ng-repeat="product in products | limitTo:8">
                <div class="catalog__image">
                    <a href="#"><img alt="" ng-src="{{product.imgUrl}}" width="100%" /></a>
                </div>

                <div class="catalog__products__item_annotation">

                    <div class="catalog__name">
                        <a href="#">{{product.name}} {{product.brand}}</a>
                    </div>

                    <div class="catalog__price">
                        <span class="catalog__price">
                            {{product.price}} грн
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
