<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="promo">
     <div class="promo__offer promo__offer__2-3">

             <img src="http://blob2.trendsbrands.ru/v20150409/images/fcf/sale_big_3%D1%83.jpg" alt="" width="100%" />
        <a href="#"></a>
     </div>

     <div class="promo__offer promo__offer__1-3 hidden-sm hidden-xs">
         <img src="http://blob2.trendsbrands.ru/v20150409/images/3af/main_look_base_notext.jpg" alt="" width="100%" />
        <a href="">Новые платья</a>
     </div>

   </div>

    <div class="promo">

        <div class="promo__offer promo__offer__3">
            <img src="http://blob2.trendsbrands.ru/v20150409/images/0b4/sm%20speed_dating_2.jpg" alt="" width="100%">
            <a href="">Новая коллекция</a>
        </div>

        <div class="promo__offer promo__offer__3">
            <img src="http://blob1.trendsbrands.ru/v20150409/images/f8b/main_summer.jpg" alt="" width="100%">
            <a href="">На выпускной</a>
        </div>

        <div class="promo__offer promo__offer__3 hidden-sm hidden-xs">
            <img src="http://blob1.trendsbrands.ru/v20150409/images/afe/limited_june_sm.jpg" alt="" width="100%">
            <a href="">Новые платья</a>
        </div>

    </div>

</div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="catalog margin-top-35">
        <div class="catalog__title">
            Новинки Лето 2015
        </div>
        <ul class="catalog__products">

            <li class="catalog__products__item" ng-repeat="product in products.list | limitTo:8">
                <div class="catalog__image" ng-repeat="image in product.images | limitTo:1">
                    <a href="/catalog/{{product.sku}}"><img alt="" ng-src="{{image}}" width="100%" /></a>
                </div>

                <div class="catalog__products__item_annotation">

                    <div class="catalog__name">
                        <a href="/catalog/{{product.sku}}">{{product.title}} {{product.brand}}</a>
                    </div>

                    <div class="catalog__price">
                        <span class="catalog__price">
                            {{product.pricing.price}} грн
                        </span>
                        <span class="catalog__price--old">
                            {{product.pricing.price}} грн
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
