
<div class="col-md-12">
    <div class="product">
        <div class="product__image">

            <div class="product__image__preview">
                <ul>
                    <li ng-repeat="image in product.images">
                        <img ng-src="{{image}}" width="100px;" alt="" />
                    </li>
                </ul>
            </div>

            <div class="product__main__image" ng-repeat="image in product.images | limitTo:1">
                <img ng-src="{{image}}" alt="" />
            </div>

        </div>
        <div class="product__anotation">
            <div class="product__anotation__content">

                <div class="product__id">
                    id: {{product.sku}}
                </div>

                <h1>{{product.title}} <a href="#"> {{product.brand}} </a></span></h1>

                <div class="product__price">
                    {{product.pricing.price}} <span>грн</span>
                </div>

                <div class="product__description">
                    {{product.description}}

                    <div class="product__more_info">
                        <div class="product__features">
                            <ul>
                                <li ng-repeat="structure in product.details.structure"><b>Состав:</b> {{structure}}</li>
                                <li><b>Цвет:</b> {{product.details.color}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="product__size">
                    <div class="product__size__grid">
                        <div class="product__size__grid__title">Выберите размер</div>
                        <span class="product__size__select" ng-repeat="size in product.details.sizes"> {{size}} </span>
                    </div>
                </div>


                <div class="product__purchase">
                    <div class="product__purchase__wishlist">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus"></span> добавить в wishlist
                        </a>
                    </div>
                    <div class="product__purchase__addtocart">
                        <a href="#" class="product__purchase__addtocart__btn">В корзину</a>
                    </div>
                </div>

                <div class="additional__info">
                    <div class="additional__info__delivery">
                        <div class="additional__info__delivery__icon"></div>
                        Бесплатная доставка по Украине
                    </div>
                    <div class="additional__info__try">
                        <div class="additional__info__try__icon"></div>
                        Привезем 2 размера на примерку
                    </div>
                    <div class="additional__info__return">
                        <div class="additional__info__return__icon"></div>
                        Обмен в течение 14 дней
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
