
<div class="col-md-12">
    <div class="product">

        <product-images></product-images>

        <div class="product__anotation">
            <div class="product__anotation__content">

                <div class="product__id">
                    id: {{product.sku}}
                </div>

                <h1>{{product.title}} <a href="#"> {{product.brand}} </a></span></h1>

                <div class="product__price">
                    {{product.pricing.price}} <span>грн</span>
                </div>

                <div class="product__description">
                    {{product.description}}

                    <div class="product__more_info">
                        <div class="product__features">
                            <ul>
                                <li ng-repeat="structure in product.details.structure"><b>Состав:</b> {{structure}}</li>
                                <li><b>Цвет:</b> {{product.details.color}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <add-to-cart></add-to-cart>

                <div class="additional__info">
                    <div class="additional__info__delivery">
                        <div class="additional__info__delivery__icon"></div>
                        Бесплатная доставка по Украине
                    </div>
                    <div class="additional__info__try">
                        <div class="additional__info__try__icon"></div>
                        Привезем 2 размера на примерку
                    </div>
                    <div class="additional__info__return">
                        <div class="additional__info__return__icon"></div>
                        Обмен в течение 14 дней
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
