<div class="col-md-12">
    <div class="product">

        <product-images></product-images>

        <div class="product__anotation">
            <div class="product__anotation__content">

                <div class="product__id">
                    id: {{product.item.sku}}
                </div>

                <h1>{{product.item.title}} <a href="#"> {{product.item.brand}} </a></span></h1>

                <div class="product__price">
                    {{product.item.pricing.price | currency}}
                </div>

                <div class="product__description">
                    <h3>Description</h3>
                      <ul>
                        <li ng-repeat="stuff in product.item.description">{{stuff}}</li>
                      </ul>

                    <div class="product__more_info">
                        <div class="product__features">
                            <ul>
                                <li><b>Material:</b> <span ng-repeat="structure in product.item.details.structure">{{structure}},</span></li>
                                <li><b>Color:</b> {{product.item.details.color}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <add-to-cart></add-to-cart>

                <div class="additional__info hidden-xs hidden-sm">
                    <div class="additional__info__delivery">
                        <div class="additional__info__delivery__icon"></div>
                        Free shiping available
                    </div>
                    <div class="additional__info__try">
                        <div class="additional__info__try__icon"></div>
                        Select your size
                    </div>
                    <div class="additional__info__return">
                        <div class="additional__info__return__icon"></div>
                        365 days return
                    </div>
                </div>

            </div>

        </div>

    </div>
    <add-to-cart-modal></add-to-cart-modal>
</div>
