<div class="col-md-12">

    <div class="cart">
        <h1>В корзине {{cartLenght}} товара</h1>
        <div class="cart__left">
            <table class="cart__table">
                <tr>
                    <th>
                        Описание товара
                    </th>
                    <th>
                        Цена
                    </th>
                </tr>
                <tr ng-repeat="item in cartProducts">
                    <td>
                        <div class="cart__table__image hidden-xs hidden-sm">
                            <img ng-src="{{item.image}}" alt="" width="80px;"/>
                        </div>

                        <div class="cart__table__title">
                            <div class="cart__table__title__name">
                                {{item.title}} <strong>{{item.brand}}</strong>
                            </div>
                            <ul>
                                <li><label>Цвет</label> <span>{{item.color}}</span></li>
                                <li><label>Размер</label> <span>{{item.size}}</span></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="cart__table__price">
                            {{item.price}} <span>грн</span>
                            <div class="cart__table__price--old" ng-if="item.oldPrice !== 0" ng-hide="item.oldPrice === item.price">
                                {{item.oldPrice}} грн
                            </div>
                        </div>
                        <div class="cart__table__remove">
                            <a href="#"ng-click="removeFromCart($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                                удалить
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cart__right">
            <div class="cart__summary">
                <div class="cart__summary__title">
                    Итоговая стоимость
                </div>


                    <div class="cart__summary__coupon">
                         <label>Введите купон на скидку:</label>
                         <input type="text" name="name" value="">
                         <input type="button" name="name" value="ok" class="btn">
                    </div>
                    <div class="cart__summary__sum_info">
                        <ul>
                            <li>Подитог: <span> <b>{{oldPriceSum}} грн</b></span></li>
                            <li>Скидка: <span class="">{{saleSize}} грн ({{salePercent}}%)</span></li>
                            <li>Доставка: <span> <b>бесплатно</b></span></li>
                        </ul>
                    </div>
                    <div class="cart__summary__sum">
                        <span class="hidden-sm hidden-xs">Итого:</span>
                        <strong>{{priceSum}}</strong> <i>грн</i>
                    </div>
                    <div class="cart__summary__confirm">
                        <a href="/order" class="btn btn__large" ng-click="">далее</a>
                    </div>


            </div>
        </div>
    </div>

</div>
