@import "common.scss";

.cart{

    h1{
        text-transform: uppercase;
        font-size: 1.25em;
        color: lighten($black, 20%);
        font-weight: normal;
    }

    &__left{
        width:75%;
        float:left;

        @include respond-to(max-width,480px) {
            width: 100%;
        }
    }

    &__right{
        float: right;
        width: 22%;
        border: 2px solid gray;

        @include respond-to(max-width,480px) {
            width: 100%;
            margin-top: 25px;
            // border: none;
        }
    }

    &__table{

        width:100%;

        th{
            padding: 15px;
            border: 1px solid #efefef;
            text-transform: uppercase;
            font-size: 0.875em;
            color: lighten($black, 20%);
        }

        td{
            padding: 15px;
            border: 1px solid #efefef;
            top:15px;
        }

        &__image{
            position: relative;
            display: inline-block;

        }

        &__title{
            display: inline-block;
            position: relative;
            left:15px;
            top:5px;
            color: lighten($black, 50%);

            @include respond-to(max-width,480px) {
                left: 0;
            };


            strong{
                color:$black;
            }

            &__name{
                text-transform: uppercase;

            }

            ul{
                list-style: none;
                margin-top: 10px;
                font-size: 0.875em;

                label{
                    width: 100px;
                    font-weight: normal;
                }
                span{
                    color:$black;
                    font-weight: bold;
                }
            }
        }

        &__price{
            font-size: 1.25em;
            font-weight: bold;
            position: relative;

            @include respond-to(max-width,480px) {
                left: 0;
                top: -15px;
            };

            span{
                font-size: 1em;
            }

            &--old{
                color: lighten($black, 40%);
                font-size: 0.8em;
                text-decoration: line-through;
                font-weight: normal;
            }
        }

        &__remove{
            top:15px;
            position: relative;
            font-size: 14px;

            @include respond-to(max-width,480px) {
                left: 0;
                width: 100px;
            };

            span{
                position: relative;
                top:2px;
                padding: 5px 5px;
                font-size: 0.8125em;
                border: 1px solid #ccc;
                border-radius: 50%;
            }

            a{
                color: lighten($black, 70%);

                &:hover span{
                    border-color: orange;
                }
            }
        }

    }

    &__summary{
        background-color: #f8f8f8;

        &__title{
            text-transform: uppercase;
            padding: 10px 15px;
            padding-top:15px;
            border-bottom:1px solid #ebebeb;
        }


        &__coupon{
            border-bottom: 1px solid #ebebeb;
            padding: 15px;

            @include respond-to(max-width,480px) {
                float: left;
                margin-bottom: 15px;
            };

            label{
                font-weight: normal;
                font-size: 0.875em;
                color: $secondary-color;
            }

            input[type="text"]{
                height: 35px;
                border-radius: 5px;
                border:1px solid #ebebeb;
                padding-left:10px;

                @include respond-to(max-width,480px) {
                    width: 70%;
                    float: left;
                };
            }

            input[type="button"]{
                font-size: 0.8em;
                border-width: 2px;
                margin-top:-3px;
                background-color: #fff;

                @include respond-to(max-width,480px) {
                    float: left;
                    margin-top: 0;
                    margin-left: 10px;
                    width: 20%;
                };
            }
        }

        &__sum_info{
            padding: 15px;
            font-size: 0.875em;
            border-bottom: 1px solid #ebebeb;
            ul{
                list-style: none;
                color: $secondary-color;
            }
            li{
                display: block;
                margin-bottom: 10px;
            }

            span{
                float: right;
                color:$black;
            }
        }

        &__sum{
            text-align: center;
            padding: 25px 15px;
            padding-bottom: 5px;

            span{
                width: 100%;
                float: left;
                margin-bottom: 10px;
                color: $secondary-color;
                font-size: 0.875em;
            }

            strong{
                font-size: 2em;
                line-height: 1em;
            }

            i{
                font-size: 1.5em;
                font-style: normal;
                font-weight: bold;
            }
        }

        &__confirm{
            padding: 15px;
            text-align: center;
            padding-bottom: 25px;

            .btn{
                width: 80%;
                margin: 0 auto;
                background-color: #fff;
                border-width: 2px;
            }
        }
    }
}

.cart__modal{
    position: fixed;
    width:400px;
    z-index: 100;
    bottom:25px;
    // border:2px solid #efefef;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 5px 8px 0px rgba(138,138,138,0.8);

    &--close{
        position: absolute;
        top:-15px;
        right:-15px;
        background: #fff;
        padding: 5px 8px;
        border-radius: 50%;

    }

    &__image{
        float: left;
        margin-right: 15px;
    }

    &__sku{
        margin-bottom: 10px;
        font-size: 14px;
        color: lighten($black, 40%);
    }
    &__name{
        text-transform: uppercase;
        font-family: $custom-font;
        margin-bottom: 10px;
        font-weight: bold;
    }
    &__price{
        font-family: $custom-font;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .btn{
        width: 170px;
        border-width: 2px;
        font-size: 13px;
    }
    &--hidden{
        display: none;
    }
}

.favorite__informer{
    position: absolute;
    right: 60px;
    padding: 17px;
    padding-top: 23px;
    padding-bottom: 14px;
    top: -11px;

    &:hover{
        background: #efefef;
    }

    &__counter{
        color:#fff;
        font-size: 12px;
        padding: 2px 7px;
        border-radius: 100%;
        background-color: orange;
        position: absolute;
        border: 2px solid #fff;
        top:13px;
        right:0px;
    }
}

.cart__informer{
    position: absolute;
    padding: 17px;
    padding-top: 24px;
    padding-bottom: 14px;
    right: 0;
    top:-11px;
    font-size: $base-font;

    &:hover{
        background: #efefef;
    }

    &__counter{
        color:#fff;
        font-size: 12px;
        padding: 2px 7px;
        border-radius: 100%;
        background-color: orange;
        position: absolute;
        border: 2px solid #fff;
        top:13px;
        right:0px;
    }
}
