
@import "common.scss";

.catalog{
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;

    &__title{
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: $custom-font;

        @include respond-to(max-width,480px){
            text-align: center;
        }
    }

    &__image{
        transition: all 0.3s ease-in-out;
    }

    &__products{
        list-style: none;
        margin: 0;
        padding: 0;

        &__item{
            display: inline-block;
            width: 24%;
            margin-left: 1.3%;
            margin-right: -0.25em;
            vertical-align: top;
            margin-bottom: 25px;

            @include respond-to(max-width,480px){
                width: 100%;
                margin-left: 0;
            }

            &:first-child{
                margin-left: 0;
            }
            &:nth-child(5){
                margin-left: 0;
            }

            &:hover .catalog__products__item_annotation a {
                color:$link-hover;
                transition: all 0.3s ease;
                transition: all 0.3s ease-in-out;
            }

            &:hover .catalog__image {
                // opacity: 0.8;
                transition: all 0.3s ease;
                transition: all 0.3s ease-in-out;
                filter: brightness(90%);
            }
        }

        &__item_annotation{
            padding-top: 15px;
        }

    }

    &__name{
        font-size:18px;
        text-align: center;
        text-transform: uppercase;
        font-family: $custom-font;
        margin-bottom: 10px;

        a{
            font-weight: bold;
            transition: all 0.3s ease-in-out;
        }
    }

    &__price{
        font-size: 16px;
        text-align: center;
        font-family: $custom-font;

        &--new{
            color: orange;
            font-weight: bold;
        }
        &--old{
            text-decoration: line-through;
            color:#666;
        }
    }

}
